*{
  margin: 3px;
  padding: 0px;
  box-sizing: border-box;
background-color: black
  
}

h1, h2, p
{
  background-color: black;
  color: white;
  border: 1px;
}
ul{
  margin-top: 0px;
  margin-bottom: 1px;
  background-color: black;
  color: white;
  border-top-color: black;
}
div
{
background-color: #ADD8E6;
  margin: 8px;
 font: 16px;
}
  
  section {
  margin-top: 16px;
  margin-bottom:16px;
    margin-left: 8px;
    margin-right: 8px; 
  }
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  padding: 10px;
}

.text {
  font-size: 10px;
  margin-bottom: 1px;
  margin-left: 1px;
  margin-right: 1px;
}

.button {
  font-size: 10px;
  padding: 10px;
  background-color: white;
}



